<div class="container">
    <h3 class="text-center text-upper p-5"> Lista de Productos </h3>

    {{#if products}}

    <div class="row">
        {{#each products}}
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/uploads/{{image}}" class="img-fluid rounded m-2" alt="...">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-header"> {{prodname}} - $ {{price}} </h5>
                        <div class="card-body">
                            
                            <p class="fw-light"><b> Talla:</b> {{size}} <br>
                                <b> Brand:</b> {{brand}}<br>
                                <b> Color:</b> <span style="background-color: {{color}}; width: 40px; height: 17px; display: inline-block;"></span>      
                            </p>
                            <p class="card-text fw-lighter">{{description}}</p>
                            <a href="/edit-prod/{{id}}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pencil"></i> Editar</a>
                            <a href="/delete-prod/{{id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div>
        <a href="/add-prod" class="btn btn-success btn-lg mt-2" style="float: right;">
            <i class="fa-solid fa-circle-plus" style="color: #ffffff; display: inline;"></i>
            <p style="display: inline;"><small>Agregar producto</small></p>
        </a>
    </div>

    {{else}}
    <div class="card text-center text-bg-light mx-auto mt-3 p-3">
        <h3 class="card-title">
            <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #FFD43B;"></i>
            No existen productos registrados
        </h3>
        <div class="card-body">
            <p> Presiona el botón para ingresar un producto </p>
            <a href="/add-prod" class="btn btn-success"> Registrar producto </a>
        </div>
    </div>
    {{/if}}
</div>
